* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: solid 1px blue; */
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: rgb(242, 242, 242);
  border: 1px solid rgb(191, 191, 191);
}

.header {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.header .nav-der {
  display: flex;
  align-items: center;
}

.header img {
  max-width: 100%;
  margin: 5px 0;
}

.header .icons {
  display: flex;
  width: 100%;
  font-size: 30px;
  justify-content: space-between;
}

.header .icons .under-image1 {
  justify-content: flex-start;
  align-items: center;
}

.header .icons .under-image2 {
  justify-content: flex-end;
  align-items: center;
}


.header p {
  margin: 10px 0;
  text-align: left;
  line-height: 1.5;
}

i.fas.fa-ellipsis-vertical {
  font-size: 30px;
  margin-right: 7px;
}

i.fab.fa-html5 {
  font-size: 42px;
  margin-left: 5px;
  margin-right: 5px;
}

.supercontainer {
  margin-top: 50px;
}

.top-image{
display: flex ;
align-items: center;
margin-left: 2px;

}

.container-header{

  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1{

    font-size: 20px;

}
.texts{

  margin-left: 3px;

}